extends layout
block content
    script(type="text/javascript").
        function viewReport(reportKey) {
            const reportFrame = document.getElementById("reportFrame");
            reportFrame.src = `report?reportKey=${reportKey}`;
        }
    div(class="container-fluid")
        h2= `${app.name} Data Analysis`
        h6(class="text-muted") App Key: #{app.appKey}
        div(class="row")
            div(class="col-3")
                div(class="list-group" role="tablist" style="height:100%;background:#f0f0f0")
                    h6(class="list-group-item list-group-item-secondary") App
                    a(class="list-group-item list-group-item-action active" data-toggle="list" role="tab") Overview
                    h6(class="list-group-item list-group-item-secondary") Reports
                    each report in reports
                        a(class="list-group-item list-group-item-action"
                            data-toggle="list" role="tab"
                            onclick="" + `viewReport("${report.reportKey}")`)
                            | #{new Date(report.start).toISOString()}
            div(class="col-9")
                iframe(id="reportFrame" style="width:100%;height:100%;border:0;")


