extends layout

block content
    div(class="container-fluid")
        h2= "Apps"
        div(class="apps-collection-view d-flex justify-content-start")
            each app in apps
                div(class="app-card card")
                    div(class="app-card-img")
                        #app
                            if (app.icon_url)
                                img(src=app.icon_url, class="card-img-top")
                            else
                                img(src="/assets/icon.ico", class="card-img-top")
                    div(class="card-body")
                        h5(class="card-title") #{app.name}
                        h6(class="card-subtitle mb-2 text-muted") #{app.appKey}
                        p(class="card-content") #{app.description}
                        a(href!="" + "app?appKey=" + app.appKey, class="app-card-button btn btn-primary") Open
