extends layout
block content
    div(class="app-card card")
        div(class="card-body")
            h5(class="card-title") #{`Report Key: ${report.reportKey}`}
            div
                p
                    span(class="text-muted") Starts at:
                    span(class="float-right") #{report.start}
                p
                    span(class="text-muted") Ends at:
                    span(class="float-right") #{report.end}
                p(class="text-muted") Description:
                p #{report.description}
                p
                    span(class="text-muted") Logs:
                    -
                        const url = `logs?appKey=${report.appKey}&reportKey=${report.reportKey}`;
                    if report.logs
                        a(class="float-right" href="" + url) #{report.logs.length}
