.apps-collection-view {
    padding: 10px;
}

.app-card {
    margin-right: 10px;
    width: 250px;
}

.app-card-img {
    width: 100%;
    height: 250px;
    padding: 25px;
}

.card-img-top {
    border: 0 !important;
    width: 200px !important;
    height: 200px !important;
    object-fit: cover;
}

.card-content {
    font-size: 1em;
    height: 3em;
}

.app-card-button {
    width: 100%;
    padding: 5px;
}

.float-right {
    float: right;
}
